<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!---logo slider---->
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>

</head>


<body>
   <header>
        <div class="header-inner">
            <div class="top-bar-sec">
                <div class="top-bar-inner">
                    <div class="top-bar-left"><a href="#">Track Order</a></div>
                    <div class="top-bar-right">Need any help? Call Us:<a href="tel:2462521425">246 252 1425</a></div>
                </div>
            </div>
            <div class="search-bar-sec">
                <div class="logo-sec"><img src="img/logo.png" alt="logo" title="Logo"></div>
                <div class="search-sec">
                    <form class="example" action="action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="login-sec">
                    <ul>
                        <li><a href="">Login</a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="menu-bar-sec">
                        <div class="menu-bar-inr">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="">Home</a></li>
                                <li><a href="">Category</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Shop</a></li>
                                <li><a href="">More Gifts</a></li>
                                <li><a href="">Occassions</a></li>
                                <li><a href="">Global</a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="about-sec">

        <div class="who-sec">
            <div class="who-img">
                <img src="img/flowerr.jpg" alt="">
            </div>
            <div class="who-txt">
                <h2>Who we are</h2>
                <p>For over 25 years, we are helping customers to celebrate their special moments by delivering fresh flowers and fabulous gifts. Ferns N Petals was established in 1994 and flower bouquet delivery was the first and only thing that the company was into. From just 1 flower shop in Delhi during 1994, Ferns N Petals is now the largest florist chain with more than 320 stores (and still counting) across all the major cities and towns of India.
                </p>
                <p> Today, Ferns N Petals Group encompasses of printunlock Retail & Franchising, printunlock E-commerce- India, UAE, Singapore & Qatar, printunlock Weddings & Events, Floral Touch- India & UAE, printunlock Gardens, Handicrafts, The Flagship Store by printunlock, WDH (Wedding Design Hub), printunlock Cakes 'N' More and printunlock Media. The brand is one stop shop for all gifting needs, be it buying flowers, cakes, plants, personalized gifts, decoration services, or experiences, not only in India but across the globe.</p>
            </div>
        </div>

        <div class="our-value-sec">
            <h2>Our Values</h2>
            <ul>
                <li>
                    <div class="img-sec">
                        <span class="icons blue">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="content">
                        <h3>Character</h3>
                        <p>Trustworthiness, Commitment, Integrity, Ethics.</p>
                    </div>
                </li>
                <li>
                    <div class="img-sec">
                        <span class="icons brown">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="content">
                        <h3>Compassion</h3>
                        <p>Empathy, Resect, Gratitude, Inclusiveness.</p>
                    </div>
                </li>
                <li>
                    <div class="img-sec">
                        <span class="icons lightGreen">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="content">
                        <h3>Customer Centric</h3>
                        <p>Customer (External as well as Internal i.e. Employees &amp; Partners).</p>
                    </div>
                </li>
                <li>
                    <div class="img-sec">
                        <span class="icons purple">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="content">
                        <h3>Collective Growth</h3>
                        <p>Profitability, Cost-consciousness, Inclusiveness, Sustainability.</p>
                    </div>
                </li>
                <li>
                    <div class="img-sec">
                        <span class="icons green">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="content">
                        <h3>Continuous Transformation</h3>
                        <p>Experiment, Innovation, Continuous Improvement, Curiosity.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="mission-sec">
        <div class="mission-right">
            <div class="mission-img"><img src="img/cake-flower.jpg"></div>
            <div class="mission-txt">
                <div class="inr-txt-m">
                    <h3>Our Mission</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>

        <div class="mission-left">
            <div class="mission-img"><img src="img/annn.jpg"></div>
            <div class="mission-txt">
                <div class="inr-txt-m">
                    <h3>Our Goal</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </section>



    <footer class="footer-main">
        <div class="footer-para-outer">
            <div class="footer-para">
                <img src="img/logo.png" alt="" title="">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            </div>
            <div class="footer-link">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="#">Printing Calculator</a></li>
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Accounts</a></li>
                </ul>
            </div>

            <div class="social-sec">
                <h3>Follow Us On-</h3>
                <ul>
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <p>© 2021 Print Unlock. All Right Reserved</p>
    </div>

</body>

</html>
