{% extends "base.html" %}
{% block content %}
<div class="brouchers">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#" style="text-decoration: none; color: black;">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#" style="text-decoration: none; color: black;">Products</a>
    </li>
    <li class="breadcrumb-item">
      <span>Add Variable Products</span>
    </li>
  </ul>
</div>
<div class="content-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="element-wrapper">
        <h3 class="element-header">
          Step 2:
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-box">
        <!-- Add product -->

        <form action="{% url  'variableproduct' 5 %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group" style="background-color: white ; padding: 5px;">
            <label for="exampleFormControlFile1">Select Sub category</label><br>
            <select name="subcategory" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option style="color: black; font-weight: bold"  selected>Choose</option>
              {% for i in subcat %}
                  <option value="{{ i.id }}" >{{ i.name }}</option>
                {% endfor %}

            </select>

          </div><br>
           <div class="form-group" style="margin: 1px;">
               <label for="exampleFormControlFile1">Product Name:</label><br>
          <input type="text" placeholder="Enter product name" name="name" class="form-control">
         </div>
          <div class="form-group" style="margin: 1px;">
               <label for="exampleFormControlFile1">Enter Slug:</label><br>
          <input type="text" placeholder="slug" name="slug" class="form-control">
         </div>
          <div class="form-group" style="margin: 1px;">
               <label for="exampleFormControlFile1">Description:</label><br>
          <input type="text" placeholder="description " name="desc" class="form-control">
         </div>
          <div class="form-group" style="margin: 1px;">
               <label for="exampleFormControlFile1">Inventory:</label><br>
          <input type="text" placeholder="inventory" name="inventory" class="form-control">
         </div>
          <div style=" padding: 3px;">
              <div class="form-group" style="margin: 1px;">
                   <label for="exampleFormControlFile1">Select images</label><br>
            <input type="file"  placeholder="Images" id="files"  name="images" multiple class="form-control" >
        </div>


            <div class="form-group" >
              <input type="submit" class="btn btn-primary">

            </div>

          </div>
       
          

        </form>
      </div>

    </div>

  </div>
</div>

</div>



</div>




<!-- end -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script>
  $(document).ready(function () {
    var $productvar = $("#catitem");
    var $itemvar = $("#subitem");
    var $options = $itemvar.find('option');
    $productvar.on('change', function () {
      $itemvar.html($options.fillter('[value="' + this.value + '"]'));
    }).trigger('change');
  });
</script>



{% endblock content %}